* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxes {
  width: 100%;
  height: 100%;
  background-image: url(https://images.pexels.com/photos/1640774/pexels-photo-1640774.jpeg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginbox {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login {
  width: 20%;
  height: 90%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 25px;
}
h1 {
  width: 100%;
  height: 7%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.inputboxes {
  width: 100%;
  height: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.inputboxes > input {
  width: 80%;
  height: 30%;

  border: 1px solid white;
  border-width: 0px 0px 1px 0px;
  border-color: black;
  border-style: solid;
  color: grey;
  padding-left: 20px;
}
.login > input {
  width: 25%;
  height: 10%;
  border-radius: 25px;
  background-color: blueviolet;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0);
  box-shadow: -1px 9px 15px -5px #45454596;
  transition: 0.3s;
}
.login > input:hover {
  background-color: rgb(167, 107, 223);
}
span {
  color: grey;
}

.options {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.options a {
  width: 36%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.facebook {
  width: 30%;
  height: 70%;
}
.google {
  width: 30%;
  height: 70%;
}
.login > a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.3s;
}
.login > a:hover {
  transform: scale(1.2);
}
a:visited {
  color: black;
  text-decoration: none;
}
i {
  font-size: 35px;
  border-radius: 50px;
  box-shadow: 1px 9px 15px -5px;
}

.signIn {
  width: 25%;
  height: 5%;
  border-radius: 25px;
  /* background-color: blueviolet; */
  color: white;
  border: 1px solid rgba(255, 255, 255, 0);
  box-shadow: -1px 9px 15px -5px #45454596;
  transition: 0.3s;
}

.btn {
  background-color: purple;
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  border: none;
}
